.app__input {
     width: 100%;
     display: flex;
     flex-direction: column;

     label {
        font-size: 0.7rem;
        font-family: "PT Mono";
        opacity: 0.8;
     }

     input {
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: 1px solid black;
        border-radius: 4px;
        font-family: "PT Mono";
     }
}